@model IEnumerable<CargoTransportation.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Машины</h1>

<p>
    <a asp-action="Create" >Добавить машину</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <h4>Модель</h4>
            </th>
            <th>
                <h4>Номер</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" >Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Просмотреть</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="red-link">Удалить</a> |
                    <a asp-action="VehicleDrivers" asp-route-id="@item.Id" asp-route-modelAndNumber="@item.ModelAndNumber">Закрепленные водители</a>
            </td>
        </tr>
}
    </tbody>
</table>
