@model IEnumerable<CargoTransportation.Models.Driver>

@{
    ViewData["Title"] = "VehicleDrivers";
}

<h1>Закрепленные водители</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Имя</h4>
            </th>
            <th>
                <h4>Телефон</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                    <a asp-controller="Driver" asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> |
                    <a asp-controller="DriverVehicle" asp-action="Delete" asp-route-driverId="@item.Id" asp-route-vehicleId="@TempData["currentDriverOrVehicleId"]" class="red-link">Открепить</a>
            </td>
        </tr>
}
    </tbody>
</table>
