@model IEnumerable<CargoTransportation.Models.Vehicle>

@{
    ViewData["Title"] = "DriverVehicles";
}

<h1>Закрепленные машины</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Модель</h4>
            </th>
            <th>
                <h4>Номер</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@item.Id" >Просмотреть</a> |
                <a asp-controller="DriverVehicle" asp-action="Delete" asp-route-driverId="@TempData["currentDriverOrVehicleId"]" asp-route-vehicleId="@item.Id" class="red-link">Открепить</a>
            </td>
        </tr>
}
    </tbody>
</table>
