@model IEnumerable<CargoTransportation.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h1>Водители</h1>

<p>
    <a asp-action="Create" >Добавить водителя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Имя</h4>
            </th>
            <th>
                <h4>Телефон</h4>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" >Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id" >Просмотреть</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="red-link">Удалить</a> |
                <a asp-action="DriverVehicles" asp-route-id="@item.Id" >Закрепленные машины</a>
            </td>
        </tr>
}
    </tbody>
</table>
